{
  "extends": "fortech-react",
  "plugins": ["fp", "compat"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    // code complexity: http://www.tutorialspoint.com/software_testing_dictionary/cyclomatic_complexity.htm
    "complexity": [1, 40],
    "indent": ["error", 4],
    "comma-dangle": [2, "always-multiline"],
    "no-param-reassign": 1,
    "no-mixed-operators": 1,
    "no-plusplus": 1,
    "no-restricted-properties": 1,
    "no-script-url": 1,
    "object-curly-newline": 0,
    "prefer-destructuring": 1,
    "class-methods-use-this": [
      2,
      {
        "exceptMethods": [
          "componentDidMount",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount",
          "render"
        ]
      }
    ],
    "prefer-promise-reject-errors": 1,
    "func-names": 0,

    "react/prop-types": 1,
    "react/require-default-props": 1,
    "react/forbid-prop-types": 1,
    "react/no-unused-prop-types": 1,
    "react/no-unescaped-entities": 1,
    "react/no-array-index-key": 1,
    "react/jsx-max-props-per-line": 1,
    "react/jsx-wrap-multilines": 1,
    "react/no-typos": 0,
    "react/default-props-match-prop-types": 1,
    "jsx-a11y/no-static-element-interactions": 1,
    "jsx-a11y/no-noninteractive-element-interactions": 1,
    "jsx-a11y/label-has-for": 1,
    "jsx-a11y/click-events-have-key-events": 1,

    "import/extensions": 0,
    "import/first": 1,

    //immutable
    "fp/no-mutating-assign": [0],
    "fp/no-mutating-methods": [0],
    "fp/no-mutation": [
      0,
      {
        "exceptions": [{ "property": "propTypes" }, { "property": "prefetch" }]
      }
    ],
  },
  "globals": {
    "expect": true
  }
}
